$primary_color: #090d11;
$secondary_color: #272b33;
$text_color: white;

@mixin buttonHover() {
	&:hover {
		cursor: pointer;
		background-color: white;
		color: black;
		border: 1px solid black;
	}
}

html,
body {
	background-color: $primary_color;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.header {
		width: 100%;
		h1 {
			padding: 24px;
			color: $text_color;
			text-align: center;
		}

		&__search {
			width: 80%;
			margin: 0 auto;
			input {
				height: 24px;
				width: 100%;
				background-color: $secondary_color;
				border: none;
				padding: 6px 12px;
				color: $text_color;
				border-radius: 4px;
				&:focus {
					outline: none !important;
				}
			}
		}

		&__form {
			position: relative;
			width: 80%;
			margin: 0 auto;
			input {
				margin-top: 12px;
				height: 24px;
				width: 100%;
				background-color: $secondary_color;
				border: none;
				padding: 6px 12px;
				color: $text_color;
				border-radius: 4px;
				&:focus {
					outline: none !important;
				}
			}
			button {
				position: absolute;
				height: 30px;
				width: 50px;
				top: 15px;
				right: -20px;
				border: none;
				border-radius: 6px;
				background-color: $primary_color;
				color: $text_color;
				@include buttonHover();
			}
		}
	}

	.todos {
		margin-top: 24px;
		width: 80%;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		#todos-list {
			padding: 0;
			margin: 0;
			width: 100%;
			li {
				border-bottom: 1px solid black;
				list-style-type: none;
				padding: 16px 12px;
				background-color: $secondary_color;
				color: $text_color;
				width: 100%;
				display: grid;
				align-items: center;
				grid-template-columns: 40px auto 80px;
				grid-template-rows: auto;
				grid-template-areas: "checkbox text deleteButton";

				input {
					grid-area: checkbox;
				}

				.delete-button {
					background-color: #090d11;
					height: 30px;
					width: 50px;
					border-radius: 6px;
					color: $text_color;
					grid-area: deleteButton;
					@include buttonHover();
				}
			}
		}
		align-items: center;
	}
}
